# https://en.wikipedia.org/wiki/Ubuntu_version_history
# https://docs.travis-ci.com/user/reference/overview/#linux
dist: xenial
language: python
python:
  - "3.5"
install:
-   cat /etc/lsb-release
-   sudo add-apt-repository -y ppa:deadsnakes/ppa
# Elasticsearch 5.* requires Java 1.8 or higher.
#-   sudo apt-add-repository -y ppa:webupd8team/java
#-   sudo add-apt-repository -y ppa:linuxuprising/java
-   sudo apt update
-   sudo apt install -y python-dev python3.7-minimal python3.7-dev pandoc
# Install fails with:
# dpkg: error processing archive /var/cache/apt/archives/oracle-java11-installer_11.0.2-2~linuxuprising2_amd64.deb (--unpack)
# oracle-license-v1-2 license could not be presented
#-   sudo apt install -y oracle-java11-installer
-   sudo apt install -y default-jre
-   "java -version"
# https://www.elastic.co/downloads/elasticsearch
-   sudo apt-get -yq purge elasticsearch || true
-   wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.1.2.deb
-   sudo dpkg -i elasticsearch-5.1.2.deb
#-   wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.2.0.deb
#-   sudo dpkg -i elasticsearch-5.2.0.deb
-   "dpkg --list | grep -i elasticsearch"
-   sleep 5
-   sudo service elasticsearch start
-   sleep 5
-   sudo pip install -r requirements-test.txt
script:
-   ./pep8.sh
-   tox
