language: python
python:
  - "3.5"
install:
-   sudo add-apt-repository -y ppa:fkrull/deadsnakes
# Elasticsearch 5.* requires Java 1.8 or higher.
-   sudo apt-add-repository -y ppa:webupd8team/java
-   sudo apt-get update
-   sudo apt-get install -y python-dev python3-dev python3.4-minimal python3.4-dev python3.5-minimal python3.5-dev pandoc oracle-java8-installer
-   "java -version"
# https://www.elastic.co/downloads/elasticsearch
-   wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.1.2.deb
-   sudo dpkg -i elasticsearch-5.1.2.deb
#-   wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-5.2.0.deb
#-   sudo dpkg -i elasticsearch-5.2.0.deb
-   "dpkg --list | grep -i elasticsearch"
-   sleep 5
-   sudo service elasticsearch start
-   sleep 5
-   sudo pip install -r requirements-test.txt
script:
-   ./pep8.sh
-   tox
